<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.xiaofeng.GoSports">

    <!--进程杀死-->
    <uses-permission android:name="android.permission.KILL_BACKGROUND_PROCESSES" />

    <uses-sdk android:targetSdkVersion="17" />

    <!--用于申请获取蓝牙信息进行室内定位-->
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <!--用于申请调用A-GPS模块-->
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />

    <!--用于访问wifi网络信息，wifi信息会用于进行网络定位-->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!--用于获取wifi的获取权限，wifi信息会用来进行网络定位-->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_CONFIGURATION" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <!--声明后台定位权限-->
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />
     
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />

    <application

        android:name="com.xiaofeng.GoSports.MyApp"
        android:allowBackup="false"
        android:configChanges="screenSize|keyboardHidden|orientation|keyboard"
        android:icon="@mipmap/mc_sosports_app_logo"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:windowSoftInputMode="adjustPan|stateHidden"
        tools:ignore="LockedOrientationActivity"
        tools:replace="android:allowBackup">
        <!--    GPS定位-->
        <service android:name="com.amap.api.location.APSService" />
        <!--高德地图API配置-->
        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="86bcbd840e7747105f8022c8ea3f5581" />

        <activity
            android:name="com.xiaofeng.GoSports.activity.SplashActivity"
            android:configChanges="screenSize|keyboardHidden|orientation|keyboard"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Launch.App"
            android:windowSoftInputMode="adjustPan|stateHidden">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".fragment.running.RunningActivity" />
        <activity android:name=".LoginActivity" />
        <activity android:name=".RegisteredActivity" />
        <activity
            android:name="com.xiaofeng.GoSports.activity.MainActivity"
            android:configChanges="screenSize|keyboardHidden|orientation|keyboard"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name="com.xiaofeng.GoSports.activity.LoginActivityByPhone"
            android:configChanges="screenSize|keyboardHidden|orientation|keyboard"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden" />

        <!--通用浏览器-->
        <activity
            android:name="com.xiaofeng.GoSports.core.webview.AgentWebActivity"
            android:configChanges="screenSize|keyboardHidden|orientation|keyboard"
            android:hardwareAccelerated="true"
            android:label="@string/app_browser_name"
            android:theme="@style/AppTheme">
            <!-- Scheme -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <action android:name="com.xuexiang.xui.applink" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="http" />
                <data android:scheme="https" />
                <data android:scheme="about" />
                <data android:scheme="javascript" />
                <!--   设置自己的deeplink   -->
                <!--                <data-->
                <!--                    android:host="xxx.com"-->
                <!--                    android:scheme="xui"/>-->
            </intent-filter>
            <!-- AppLink -->
            <intent-filter
                android:autoVerify="true"
                tools:targetApi="m">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />

                <data android:scheme="http" />
                <data android:scheme="https" />
                <data android:scheme="inline" />
                <data android:mimeType="text/html" />
                <data android:mimeType="text/plain" />
                <data android:mimeType="application/xhtml+xml" />
                <data android:mimeType="application/vnd.wap.xhtml+xml" />
                <!--   设置自己的applink   -->
                <!--                <data-->
                <!--                    android:host="xxx.com"-->
                <!--                    android:scheme="http"/>-->
                <!--                <data-->
                <!--                    android:host="xxx.com"-->
                <!--                    android:scheme="https"/>-->
            </intent-filter>
        </activity>

        <!--fragment的页面容器-->
        <activity
            android:name="com.xiaofeng.GoSports.core.BaseActivity"
            android:configChanges="screenSize|keyboardHidden|orientation|keyboard"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <!-- 版本更新提示-->
        <activity
            android:name="com.xiaofeng.GoSports.utils.update.UpdateTipDialog"
            android:screenOrientation="portrait"
            android:theme="@style/DialogTheme" />
        <!-- Webview拦截提示弹窗-->
        <activity
            android:name="com.xiaofeng.GoSports.core.webview.WebViewInterceptDialog"
            android:screenOrientation="portrait"
            android:theme="@style/DialogTheme" />
        <!-- applink的中转页面 -->
        <activity
            android:name="com.xiaofeng.GoSports.core.XPageTransferActivity"
            android:configChanges="screenSize|keyboardHidden|orientation|keyboard"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden" />

        <!--屏幕自适应设计图-->
        <meta-data
            android:name="design_width_in_dp"
            android:value="360" />
        <meta-data
            android:name="design_height_in_dp"
            android:value="640" />

    </application>

</manifest>